<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer">
            <tab>customer</tab>
            <group id="startup">
                <field id="sign_up_toggle" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Sign Up Toggle</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
